:root {
  --color-bg: #222831;
  --color-secondary: #acacac;
  --color-tertiary: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: "Montserrat", sans-serif;
}
